@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");

.cardWrapper {
  flex: 1 0 21%;
  background-color: grey;
  margin: 5px;
  height: 15vmin;
  padding-left: 8px;
  padding-top: 8px;
  display: flex;
  align-items: flex-end;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("./fast.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-position: center; */
  background-size: cover;
}
.cardWrapper:hover {
  cursor: pointer;

  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
  background-color: white;
  flex: 1 0 30%;
  transition: 0.3s;
}
.cardWrapper:active {
  background-color: grey;
}

.title {
  font-family: 'Martel Sans', sans-serif;
  text-transform: uppercase;
  color: #d81F26;
  line-height: 0.4;
  font-weight: bold;
  display: none;
  font-size: 16px;

}

  font-family: 'Martel Sans', sans-serif;
  font-size: 12px;
  line-height: 0.2;
  color: white;

  font-weight: bold;
  display: none;
}
.cardWrapper:hover > .textWrapper > .title {
  display: block;
  transition: 0.3s;
}
.cardWrapper:hover > .textWrapper > .bodyText {
  display: block;
  transition: 0.3s;
}
