/*
 * SearchBar css File
*/
/* .inputText {
  background-color: crimson;
} */
button:hover {
  background-color: gray;
}
.btn active {
  background-color: gray;
}
.inputText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
