

.App-footer {
  background-color: #3c3c3b;
  height: 4vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px ;
  color: white;
  padding: 2vmin;
  margin-top: 3vmin;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.copyleftLogo {
  width: 1.5vmin;
}
