@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");

.InputField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  border: solid 1px white;
  background-color: black;
  font-family: "Martel Sans", sans-serif;
  font-size: 16px;
  outline: none;
  text-align: center;
  border-radius: 8px;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
}
.InputField::placeholder{
  color: #818181 0.1;}
.InputField:focus::placeholder{
  color: #818181;
}
.InputField:focus {
  /* box-shadow: inset 3px 3px 0 0 #D81F26, inset -3px -3px 0 0 #D81F26; */
  border: solid 1px #4F0C0E;
}
.InputField:hover {
  border: solid 1px #D81F26;
  cursor: text;

}
